body .toolbar .toolbar-bar .toolbar-menu-administration .toolbar-icon.toolbar-icon-varbase-dashboards-dashboard:before {
  mask-image: url(../../images/web-dashboard.svg) !important;
}

aside#admin-toolbar .toolbar-link--has-icon.toolbar-link--dashboard::before {
  --icon: url(../../images/web-dashboard.svg);
  mask-image: var(--icon);
}

